* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

header section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #222222;
  font-size: 15px;
  color: white;
  height: 30px;
  align-items: center;
}

header section ul {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  list-style-type: none;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  background-color: #f0a83e;
  height: 62px;
  align-items: center;
  justify-content: space-around;
}

.titulo-header {
  display: flex;
  align-items: center;
  gap: 2px;
}

.titulo-header h1 {
  font-size: 20px;
  color: white;
}

.titulo-header h1 span {
  color: #3c2313;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 20px;
}

header nav ul a {
  text-decoration: none;
  color: white;
}

.menú-bienvenida {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  background-image: url(../img/bowl-and-pet-daities-on-green-background.svg);
  height: 610px;
  background-repeat: no-repeat;
  text-decoration: none;
  background-size: cover;
}

.menú-bienvenida h2 {
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  background-color: white;
  height: 54px;
  width: auto;
  padding: 10px;
  margin-right: 12px;
  color: #3c2313;
}

.menú-bienvenida .descuento {
  padding-top: 12px;
  padding-right: 95px;
  padding-bottom: 12px;
  color: #3c2313;
}

.menú-bienvenida .comederos a {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: white;
  background-color: #f0a83e;
  height: 49px;
  width: 141px;
  align-items: center;
  justify-content: center;
  margin-right: 117px;
}

section ul {
  list-style-type: none;
}

.productos-destacados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
}

.huellita-naranja {
  padding-bottom: 5px;
}

.categorias {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  padding-top: 20px;
  padding-bottom: 49px;
  color: #555555;
}

.categorias a {
  color: #555555;
  text-decoration: none;
}

.productos-en-venta {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 22px;
  padding-bottom: 78px;
}

.productos-en-venta h3 a {
  color: #3c2313;
  text-decoration: none;
}

.productos-en-venta p {
  color: #f0a83e;
}

article {
  background-color: #fbfaf6;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  padding-bottom: 8px;
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.contacto h3 {
  color: #3c2313;
  font-weight: 700;
  font-size: 30px;
}

.contacto ul {
  background-color: white;
}

.contacto ul li {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  height: 50px;
  align-items: center;
  background-color: #3c2313;
  color: white;
  border-radius: 15px;
  padding-left: 21px;
  margin-bottom: 20px;
  font-size: 14px;
}

.contacto div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 75px;
}

.contacto .boton-resetear a {
  display: flex;
  flex-wrap: wrap;
  background-color: #8a8787;
  text-decoration: none;
  color: white;
  width: 110px;
  height: 34px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

.contacto .boton-enviar a {
  display: flex;
  background-color: #f0a83e;
  text-decoration: none;
  color: white;
  width: 110px;
  height: 34px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.suscribite {
  align-items: center;
  background-color: #f0a83e;
  display: flex;
  flex-wrap: wrap;
  height: 72px;
  justify-content: space-between;
  padding-left: 23px;
  padding-right: 23px;
}

.suscribite h3 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  gap: 10px;
  font-size: 20px;
}

.suscripcion {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}

.ingreso-correo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  width: 271px;
  height: 40px;
  border-radius: 15px;
  padding-left: 8px;
  color: #a0a0a0;
  font-size: 13px;
}

.boton-suscribirme a {
  display: flex;
  text-decoration: none;
  align-items: center;
  flex-wrap: wrap;
  background-color: #3c2313;
  justify-content: center;
  width: 90px;
  height: 35px;
  border-radius: 15px;
  font-size: 12px;
  color: white;
  font-weight: 700;
}

.logo-y-datos {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 371px;
  background-color: #3c2313;
}

.titulo-footer {
  display: flex;
  align-items: center;
  gap: 2px;
}

.titulo-footer h3 {
  font-size: 20px;
  color: #f0a83e;
}

.titulo-footer h3 span {
  color: white;
}

.datos-del-negocio {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

.imagenes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}

.lista-datos {
  color: white;
  font-size: 20px;
}

.lista-datos p {
  color: #8a8787;
  font-size: 13px;
  font-weight: 700;
}

.items-lista {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 60px;
  padding-top: 15px;
}

.derechos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 30px;
  background-color: #222222;
  color: white;
  font-weight: 500;
}

@media (max-width: 748.5px) {
  .suscribite {
    height: 110px;
    align-content: center;
    gap: 7px;
  }

  .menú-bienvenida {
    align-items: center;
  }

  .menú-bienvenida .descuento {
    padding-right: 0%;
  }

  .menú-bienvenida .comederos a {
    margin-right: 0%;
  }
}

@media (max-width: 411.5px) {
  .suscribite {
    height: 150px;
  }

  .suscripcion {
    gap: 9px;
  }
}

@media (max-width: 386px) {
  header nav {
    flex-direction: column;
    gap: 10px;
    height: 210px;
  }

  header nav ul {
    flex-direction: column;
    height: 150px;
    justify-content: center;
  }
}

@media (max-width: 552px) {
  header nav {
    justify-content: center;
  }
}

@media (max-width: 383px) {
  .suscribite {
    gap: 10px;
  }

  .suscribite h3 {
    gap: 7px;
  }
}

@media (max-width: 379.5px) {
  .suscribite {
    height: 185px;
  }
}

@media (max-width: 346.5px) {
  header section {
    height: 50px;
  }
}

@media (max-width: 378px) {
  .menú-bienvenida h2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 95vw;
    height: auto;
  }

  .contacto ul li {
    width: 80vw;
  }
}
